header{
  display: flex;
}
.master{
    width: 100%;
    height: 80vh;
    background-image:url('../img/images.jpeg');
    background-size: cover;
    background-position: center;
    }
.main{
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 20px;
  padding-top: 10px;
}
ul{
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 800px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav>ul{
  list-style: none;
 display: flex;

}
nav>ul>li>a{
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 15px;
  left padding:100px;

}
.flex>header>section>div{
  flex-grow: 3;
}
.topic>h1{
  font-size: 60px;
  padding-top: 100px;
  text-align: center;
  color: red;
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
}
body{
  background-color:#FFA500;
}
.main1{
padding-left: 200px;
padding-top: 20px;
}
.one{
width:600px;
font-size: 20px;
padding:150px;
background-image:url('../img/images (4).jpeg');
background-size: cover;
}
.second{
  width: 600px;
  padding-top: 30px;
  padding-left: 50px;
}
footer{
  font-size: 24px;
  color: white;
  text-align: center;
}
.footer>a>img{
  width: 40px;
  height:40px;
}
